# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,macos,web
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,macos,web

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
node_modules
